<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hswebframework.web.dao.form.DynamicFormDeployLogDao">
    <resultMap id="DynamicFormDeployLogResultMap" type="org.hswebframework.web.entity.form.SimpleDynamicFormDeployLogEntity">
        <id property="id" column="u_id" javaType="string" jdbcType="VARCHAR"/>
        <result property="formId" column="form_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="version" column="version" javaType="Long" jdbcType="NUMERIC"/>
        <result property="deployTime" column="deploy_time" javaType="Long" jdbcType="DECIMAL"/>
        <result property="metaData" column="meta_data" javaType="String" jdbcType="CLOB"/>
        <result property="status" column="status" javaType="Byte" jdbcType="NUMERIC"/>
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'DynamicFormDeployLogResultMap'"/>
        <bind name="tableName" value="'s_dyn_form_log'"/>
    </sql>

    <insert id="insert" parameterType="org.hswebframework.web.entity.form.SimpleDynamicFormDeployLogEntity">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="deleteByPk" parameterType="String">
        delete from s_dyn_form_log where u_id =#{id}
    </delete>

    <delete id="delete" parameterType="org.hswebframework.web.commons.entity.Entity">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="org.hswebframework.web.commons.entity.Entity">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="query" parameterType="org.hswebframework.web.commons.entity.Entity" resultMap="DynamicFormDeployLogResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="count" parameterType="org.hswebframework.web.commons.entity.Entity" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
