<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hsweb.web.dao.user.UserMapper">
    <resultMap id="UserResultMap" type="User">
        <id property="u_id" column="u_id" javaType="string" jdbcType="VARCHAR"/>
        <result property="username" column="username" javaType="String" jdbcType="VARCHAR"/>
        <result property="password" column="password" javaType="String" jdbcType="VARCHAR"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="email" column="email" javaType="String" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" javaType="String" jdbcType="VARCHAR"/>
        <result property="status" column="status" javaType="int" jdbcType="INTEGER"/>
        <result property="create_date" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="update_date" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <collection property="userRoles" column="u_id" ofType="UserRole"
                    select="org.hsweb.web.dao.role.UserRoleMapper.selectByUserId"/>
    </resultMap>
    <!--字段信息配置-->
    <sql id="fieldConfig">
        <bind name="$fieldsInfo"
              value="#{
                    'u_id':#{'jdbcType':'VARCHAR','javaType':'string'}
                    ,'username':#{'jdbcType':'VARCHAR','javaType':'string'}
                    ,'password':#{'jdbcType':'VARCHAR','javaType':'string'}
                    ,'name':#{'jdbcType':'VARCHAR','javaType':'string'}
                    ,'email':#{'jdbcType':'VARCHAR','javaType':'string'}
                    ,'phone':#{'jdbcType':'VARCHAR','javaType':'string'}
                    ,'status':#{'jdbcType':'INTEGER','javaType':'number'}
                    ,'create_date':#{'jdbcType':'TIMESTAMP','javaType':'date'}
                    ,'update_date':#{'jdbcType':'TIMESTAMP','javaType':'date'}
                    }"/>
        <bind name="$fields" value="$fieldsInfo.keySet()"/>
    </sql>
    <!--表名-->
    <sql id="tableName">
        <bind name="$tableName" value="'s_user'"/>
    </sql>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="data.u_id" keyColumn="U_ID">
        <include refid="fieldConfig"/>
        <include refid="tableName"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="UserRole">
        delete from s_user where u_id=#{u_id}
    </delete>

    <update id="updatePassword" parameterType="User">
        update s_user set password=#{password,jdbcType=VARCHAR} where u_id = #{u_id}
    </update>

    <update id="update" parameterType="org.hsweb.web.bean.common.UpdateParam">
        <include refid="fieldConfig"/>
        <include refid="tableName"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByUserName" parameterType="string" resultMap="UserResultMap">
        select * from s_user where username=#{username}
    </select>

    <select id="selectByPk" parameterType="string" resultMap="UserResultMap">
        select * from s_user where u_id=#{u_id}
    </select>

    <select id="select" parameterType="org.hsweb.web.bean.common.QueryParam" resultMap="UserResultMap">
        <include refid="fieldConfig"/>
        <include refid="tableName"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="org.hsweb.web.bean.common.QueryParam" resultType="int">
        <include refid="fieldConfig"/>
        <include refid="tableName"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
