<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2016 http://www.hswebframework.org
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  ~
  -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hswebframework.web.dictionary.simple.dao.DictionaryParserDao">
    <resultMap id="DictionaryParserResultMap" type="org.hswebframework.web.dictionary.api.entity.DictionaryParserEntity">
        <id property="id" column="u_id" javaType="string" jdbcType="VARCHAR"/>
            <result property="valueToTextParser" column="v_t_parser" javaType="String" jdbcType="CLOB"/>
            <result property="textToValueParser" column="t_v_parser" javaType="String" jdbcType="CLOB"/>
            <result property="onError" column="on_error" javaType="String" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" javaType="Long" jdbcType="DECIMAL"/>
            <result property="creatorId" column="creator_id" javaType="String" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" javaType="Long" jdbcType="DECIMAL"/>
            <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
            <result property="describe" column="describe" javaType="String" jdbcType="VARCHAR"/>
            <result property="classifiedId" column="classified_id" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'DictionaryParserResultMap'"/>
        <bind name="tableName" value="'s_dict_parser'"/>
    </sql>
  
    <insert id="insert" parameterType="org.hswebframework.web.dictionary.api.entity.DictionaryParserEntity" >
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="deleteByPk" parameterType="String">
        delete from s_dict_parser where u_id =#{id}
    </delete>

    <delete id="delete" parameterType="org.hswebframework.web.commons.entity.Entity">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="org.hswebframework.web.commons.entity.Entity">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="query" parameterType="org.hswebframework.web.commons.entity.Entity" resultMap="DictionaryParserResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="count" parameterType="org.hswebframework.web.commons.entity.Entity" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
