<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台输出日志 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} > %-5level %logger{35} - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.http" level="ERROR" />
    <root level="DEBUG">
        <appender-ref ref="Console"/>
    </root>
</configuration>