<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hswebframework.web.workflow.dao.ProcessDefineConfigDao">
    <resultMap id="ProcessDefineResultMap" type="org.hswebframework.web.workflow.dao.entity.ProcessDefineConfigEntity">
        <id property="id" column="u_id" javaType="string" jdbcType="VARCHAR"/>
        <result property="processDefineKey" column="proc_def_key" javaType="String" jdbcType="VARCHAR"/>
        <result property="processDefineId" column="proc_def_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="formId" column="form_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="permissionDimension" column="permission_dimension" javaType="String" jdbcType="CLOB"/>
        <result property="properties" column="properties" javaType="java.util.Map" jdbcType="CLOB"/>

        <result property="createTime" column="create_time" javaType="date" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" javaType="date" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" javaType="Byte" jdbcType="TINYINT"/>

        <result property="listeners" column="listeners" javaType="java.util.List" jdbcType="CLOB"/>

    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'ProcessDefineResultMap'"/>
        <bind name="tableName" value="'s_wf_proc_conf'"/>
    </sql>

    <insert id="insert" parameterType="org.hswebframework.web.workflow.dao.entity.ProcessDefineConfigEntity">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="deleteByPk" parameterType="String">
        delete from s_wf_proc_conf where u_id =#{id}
    </delete>

    <delete id="delete" parameterType="org.hswebframework.web.commons.entity.Entity">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="org.hswebframework.web.commons.entity.Entity">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="query" parameterType="org.hswebframework.web.commons.entity.Entity" resultMap="ProcessDefineResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="count" parameterType="org.hswebframework.web.commons.entity.Entity" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
