<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BasicMapper">
    <!--通用查询条件-->
    <sql id="buildWhere">
        ${@org.hsweb.web.mybatis.builder.SqlBuilder@current().buildWhere(resultMapId,tableName,#this['_parameter'].terms)}
    </sql>
    <sql id="buildWhereForUpdate">
        ${@org.hsweb.web.mybatis.builder.SqlBuilder@current().buildWhereForUpdate(resultMapId,tableName,#this['_parameter'].terms)}
    </sql>

    <!--生成查询字段-->
    <sql id="buildSelectField">
        ${@org.hsweb.web.mybatis.builder.SqlBuilder@current().buildSelectFields(resultMapId,tableName,#this['_parameter'])}
    </sql>

    <!--生成修改字段-->
    <sql id="buildUpdateField">
        <set>
            ${@org.hsweb.web.mybatis.builder.SqlBuilder@current().buildUpdateFields(resultMapId,tableName,#this['_parameter'])}
        </set>
    </sql>

    <!--生成排序字段-->
    <sql id="buildSortField">
        ${@org.hsweb.web.mybatis.builder.SqlBuilder@current().buildOrder(resultMapId,tableName,#this['_parameter'])}
    </sql>

    <!--生成查询sql-->
    <sql id="buildSelectSql">
        <trim>
            select
            <include refid="BasicMapper.buildSelectField"/>
            from ${tableName}
            <where>
                <include refid="BasicMapper.buildWhere"/>
            </where>
            <include refid="BasicMapper.buildSortField"/>
        </trim>
    </sql>

    <!--生成删除sql-->
    <sql id="buildDeleteSql">
        <trim>
            delete from ${tableName}
            <where>
                <include refid="BasicMapper.buildWhereForUpdate"/>
                <if test="terms.size()==0">
                    1=2
                </if>
            </where>
        </trim>
    </sql>

    <!--生成InsertSql-->
    <sql id="buildInsertSql">
        ${@org.hsweb.web.mybatis.builder.SqlBuilder@current().buildInsertSql(resultMapId,tableName,#this['_parameter'])}
    </sql>

    <!--生成UpdateSql-->
    <sql id="buildUpdateSql">
        <trim>
            update ${tableName}
            <include refid="BasicMapper.buildUpdateField"/>
            <where>
                <include refid="BasicMapper.buildWhereForUpdate"/>
                <if test="terms.size()==0">
                    u_id=#{data.id}
                </if>
            </where>
        </trim>
    </sql>

    <!--生成查询数量sql-->
    <sql id="buildTotalSql">
        <trim>
            select count(0) as total from ${tableName}
            <where>
                <include refid="BasicMapper.buildWhere"/>
            </where>
        </trim>
    </sql>
</mapper>
