<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hsweb.web.dao.script.DynamicScriptMapper">
    <resultMap id="DynamicScriptResultMap" type="org.hsweb.web.bean.po.script.DynamicScript" >
        <id property="id" column="u_id" javaType="string" jdbcType="VARCHAR" />
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR" />
        <result property="type" column="type" javaType="String" jdbcType="VARCHAR" />
        <result property="content" column="content" javaType="String" jdbcType="VARCHAR" />
        <result property="remark" column="remark" javaType="String" jdbcType="VARCHAR" />
        <result property="classifiedId" column="classified_id" javaType="String" jdbcType="VARCHAR" />
        <result property="status" column="status" javaType="int" jdbcType="INTEGER" />
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'DynamicScriptResultMap'"/>
        <bind name="tableName" value="'s_script'"/>
    </sql>

    <insert id="insert" parameterType="org.hsweb.web.bean.common.InsertParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="org.hsweb.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>


    <update id="update" parameterType="org.hsweb.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByPk" parameterType="string" resultMap="DynamicScriptResultMap">
        select * from s_script where u_id=#{u_id}
    </select>

    <select id="select" parameterType="org.hsweb.web.bean.common.QueryParam" resultMap="DynamicScriptResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="org.hsweb.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
