<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hsweb.web.dao.role.RoleModuleMapper">
    <resultMap id="RoleModuleResultMap" type="RoleModule" >
        <id property="uId" column="u_id" javaType="string" jdbcType="VARCHAR" />
        <result property="moduleId" column="module_id" javaType="String" jdbcType="VARCHAR" />
        <result property="roleId" column="role_id" javaType="String" jdbcType="VARCHAR" />
        <result property="actions" column="o_level" javaType="String" jdbcType="VARCHAR"
                typeHandler="org.hsweb.web.mybatis.handler.JsonArrayHandler" />
        <collection property="module" column="module_id" ofType="Module" select="org.hsweb.web.dao.module.ModuleMapper.selectByPk"/>
    </resultMap>

    <!--字段信息绑定-->
    <sql id="fieldConfig">
        <bind name="$fieldsInfo"
              value="#{
                    'u_id':#{'property':'uId','jdbcType':'VARCHAR','javaType':'string'}
                    ,'module_id':#{'property':'moduleId','jdbcType':'VARCHAR','javaType':'string'}
                    ,'role_id':#{'property':'roleId','jdbcType':'VARCHAR','javaType':'string'}
                    ,'actions':#{'jdbcType':'VARCHAR','javaType':'list'}
                    }"/>
        <bind name="$fields" value="$fieldsInfo.keySet()"/>
    </sql>
    <!--表名-->
    <sql id="tableName">
        <bind name="$tableName" value="'s_role_modules'"/>
    </sql>

    <insert id="insert" parameterType="RoleModule" useGeneratedKeys="true" keyProperty="data.u_id" keyColumn="U_ID">
        <include refid="fieldConfig"/>
        <include refid="tableName"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="org.hsweb.web.bean.common.DeleteParam">
        delete from s_role_modules where u_id=#{term.primaryKey}
    </delete>

    <delete id="deleteByRoleId" parameterType="string" >
        delete from s_role_modules where role_id=#{role_id}
    </delete>

    <delete id="deleteByModuleId" parameterType="string" >
        delete from s_role_modules where module_id=#{module_id}
    </delete>

    <update id="update" parameterType="org.hsweb.web.bean.common.UpdateParam">
        <include refid="fieldConfig"/>
        <include refid="tableName"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByRoleId" parameterType="string" resultMap="RoleModuleResultMap">
        select * from s_role_modules where role_id=#{role_id}
    </select>

    <select id="selectByPk" parameterType="string" resultMap="RoleModuleResultMap">
        select * from s_role_modules where u_id=#{u_id}
    </select>

    <select id="select" parameterType="org.hsweb.web.bean.common.QueryParam" resultMap="RoleModuleResultMap">
        <include refid="fieldConfig"/>
        <include refid="tableName"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="org.hsweb.web.bean.common.QueryParam" resultType="int">
        <include refid="fieldConfig"/>
        <include refid="tableName"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
