<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hsweb.web.dao.resource.ResourcesMapper">
    <resultMap id="ResourcesResultMap" type="org.hsweb.web.bean.po.resource.Resources" >
        <id property="id" column="u_id" javaType="string" jdbcType="VARCHAR" />
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR" />
        <result property="path" column="path" javaType="String" jdbcType="VARCHAR" />
        <result property="creatorId" column="creator_id" javaType="String" jdbcType="VARCHAR" />
        <result property="md5" column="md5" javaType="String" jdbcType="VARCHAR" />
        <result property="type" column="type" javaType="String" jdbcType="VARCHAR" />
        <result property="status" column="status" javaType="int" jdbcType="INTEGER" />
        <result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'ResourcesResultMap'"/>
        <bind name="tableName" value="'s_resources'"/>
    </sql>

    <insert id="insert" parameterType="org.hsweb.web.bean.common.InsertParam" >
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="org.hsweb.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="org.hsweb.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByPk" parameterType="string" resultMap="ResourcesResultMap">
        select * from s_resources WHERE u_id=#{id}
    </select>

    <select id="select" parameterType="org.hsweb.web.bean.common.QueryParam" resultMap="ResourcesResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="org.hsweb.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
