<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BasicMapper">
    <!--通用查询条件-->
    <sql id="selectCondition">
            <!--动态生成查询条件-->
            <foreach item="item" index="index" collection="$fields">
                <if test="#this['term.'+item]!=null">
                    <choose>
                        <when test="$fieldsType[item] == 'date' ">
                            AND ${$tableName}.${item}=to_date(#{term.${item}},'YYYY-MM-DD HH24:MI:SS')
                        </when>
                        <otherwise>AND ${$tableName}.${item}=#{term.${item}}</otherwise>
                    </choose>
                </if>
                <if test="#this['term.'+item+'$NOT']!=null">
                    <choose>
                        <when test="$fieldsType[item] == 'date' ">
                            AND ${$tableName}.${item}!=to_date(#{term.${item+'$NOT'}},'YYYY-MM-DD HH24:MI:SS')
                        </when>
                        <otherwise>AND ${$tableName}.${item}!=#{term.${item+'$NOT'}}</otherwise>
                    </choose>
                </if>
                <if test="#this['term.'+item+'$LIKE']!=null">
                    AND INSTR(${$tableName}.${item},#{term.${item+'$LIKE'}})>0
                </if>
                <if test="#this['term.'+item+'$NOTLIKE']!=null">
                    AND INSTR(${$tableName}.${item},#{term.${item+'$NOTLIKE'}})&lt;=0
                </if>
                <if test="#this['term.'+item+'$START']!=null">
                    AND ${$tableName}.${item} LIKE #{term.${item+'$START'}}||'%'
                </if>
                <if test="#this['term.'+item+'$END']!=null">
                    AND ${$tableName}.${item} LIKE '%'||#{term.${item+'$END'}}
                </if>
                <if test="#this['term.'+item+'$IN']!=null">
                    AND ${$tableName}.${item} IN
                    <foreach item="it" index="i" collection="#this['term.'+item+'$IN']" open="(" separator="," close=")">
                        #{it}
                    </foreach>
                </if>
                <if test="#this['term.'+item+'$NOTIN']!=null">
                    AND ${$tableName}.${item} NOT IN
                    <foreach item="it" index="i" collection="#this['term.'+item+'$NOTIN']" open="(" separator="," close=")">
                        #{it}
                    </foreach>
                </if>
                <if test="#this['term.'+item+'$ISNULL']!=null">
                    AND ${$tableName}.${item} IS NULL
                </if>
                <if test="#this['term.'+item+'$NOTNULL']!=null">
                    AND ${$tableName}.${item} IS NOT NULL
                </if>
                <if test="#this['term.'+item+'$GT']!=null">
                    <choose>
                        <when test="$fieldsType[item] == 'date' ">
                            AND ${$tableName}.${item} &gt;=to_date(#{term.${item+'$GT'}},'YYYY-MM-DD HH24:MI:SS')
                        </when>
                        <when test="$fieldsType[item] == 'number' ">
                            AND ${$tableName}.${item} &gt;=#{term.${item+'$GT'}}
                        </when>
                        <otherwise></otherwise>
                    </choose>
                </if>
                <if test="#this['term.'+item+'$LT']!=null">
                    <choose>
                        <when test="$fieldsType[item] == 'date' ">
                            AND ${$tableName}.${item} &lt;=to_date(#{term.${item+'$LT'}},'YYYY-MM-DD HH24:MI:SS')
                        </when>
                        <when test="$fieldsType[item] == 'number' ">
                            AND ${$tableName}.${item} &lt;=#{term.${item+'$LT'}}
                        </when>
                        <otherwise></otherwise>
                    </choose>
                </if>
            </foreach>
        <!--动态生成查询条件结束-->
    </sql>
    <!--生成查询字段-->
    <sql id="selectField">
            <choose>
                <!--指定查询的字段-->
                <when test="includes!=null and includes.size()>0">
                    <foreach item="item" index="index" collection="includes" open="" separator="," close="">
                        <if test="item in $fields">
                            ${$tableName}.${item} as "${item}"
                        </if>
                    </foreach>
                </when>
                <!--指定不查询的字段-->
                <when test="(includes==null or includes.size()==0) and excludes!=null and excludes.size()>0">
                    <foreach item="item" index="index" collection="$fields" open=" " separator="," close="">
                        <if test="!(item in excludes)">
                            ${$tableName}.${item} as "${item}"
                        </if>
                    </foreach>
                </when>
                <otherwise>*</otherwise>
            </choose>
    </sql>

    <select id="select" parameterType="org.hsweb.web.bean.common.QueryParam" resultType="map">
        <include refid="selectSql"></include>
    </select>

    <select id="selectSql" parameterType="org.hsweb.web.bean.common.QueryParam" resultType="map">
        ${$sql}
    </select>

    <select id="total" parameterType="org.hsweb.web.bean.common.QueryParam" resultType="int">
        <include refid="totalSql"></include>
    </select>

    <!--生成查询sql-->
    <sql id="selectSql">
        SELECT
        <include refid="BasicMapper.selectField"/>
        FROM ${$tableName}
        <where>
            <include refid="BasicMapper.selectCondition"/>
        </where>
    </sql>

    <!--生成查询数量sql-->
    <sql id="totalSql">
        SELECT count(0) AS total FROM ${$tableName}
        <where>
            <include refid="BasicMapper.selectCondition"/>
        </where>
    </sql>
</mapper>
