<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hsweb.web.dao.module.ModuleMetaMapper">
    <resultMap id="ModuleMetaResultMap" type="org.hsweb.web.bean.po.module.ModuleMeta">
        <id property="id" column="u_id" javaType="string" jdbcType="VARCHAR"/>
        <result property="key" column="key" javaType="String" jdbcType="VARCHAR"/>
        <result property="moduleId" column="module_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="roleId" column="role_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="meta" column="meta" javaType="String" jdbcType="CLOB"/>
        <result property="remark" column="remark" javaType="String" jdbcType="VARCHAR"/>
        <result property="status" column="status" javaType="int" jdbcType="INTEGER"/>
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'ModuleMetaResultMap'"/>
        <bind name="tableName" value="'s_module_meta'"/>
    </sql>

    <insert id="insert" parameterType="org.hsweb.web.bean.common.InsertParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="org.hsweb.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="org.hsweb.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByPk" parameterType="string" resultMap="ModuleMetaResultMap">
        select * from s_module_meta WHERE u_id=#{u_id}
    </select>

    <select id="select" parameterType="org.hsweb.web.bean.common.QueryParam" resultMap="ModuleMetaResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="org.hsweb.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
