<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台输出日志 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} > %-5level %logger{35} - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" level="ERROR" />
    <logger name="org.apache.tomcat" level="ERROR" />
    <logger name="org.hsweb" level="DEBUG" />
    <logger name="com.atomikos" level="ERROR" />
    <logger name="org.h2" level="ON" />
    <logger name="org.mybatis.spring.SqlSessionUtils" level="DEBUG" />
    <logger name="org.hsweb.web.datasource" level="INFO" />
    <root level="ERROR">
        <appender-ref ref="Console"/>
    </root>
</configuration>