<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2015-2016 http://hsweb.me
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hsweb.web.oauth2.dao.OAuth2AccessMapper">
    <resultMap id="OAuth2AccessResultMap" type="org.hsweb.web.oauth2.po.OAuth2Access">
        <id property="id" column="u_id" javaType="string" jdbcType="VARCHAR"/>
        <result property="clientId" column="client_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="accessToken" column="access_token" javaType="String" jdbcType="VARCHAR"/>
        <result property="refreshToken" column="refresh_token" javaType="String" jdbcType="VARCHAR"/>
        <result property="expireIn" column="expire_in" javaType="int" jdbcType="NUMERIC"/>
        <result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'OAuth2AccessResultMap'"/>
        <bind name="tableName" value="'s_oauth2_access'"/>
    </sql>
    <insert id="insert" parameterType="org.hsweb.web.bean.common.InsertParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="deleteById" parameterType="String">
        delete from s_oauth2_access where u_id=#{id}
    </delete>

    <select id="selectByAccessToken" parameterType="string" resultMap="OAuth2AccessResultMap">
        select * from s_oauth2_access where access_token=#{access_token}
    </select>

    <delete id="delete" parameterType="org.hsweb.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="org.hsweb.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByRefreshToken" parameterType="string" resultMap="OAuth2AccessResultMap">
        select * from s_oauth2_access where refresh_token=#{refresh_token}
    </select>

    <select id="select" parameterType="org.hsweb.web.bean.common.QueryParam" resultMap="OAuth2AccessResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="org.hsweb.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
