<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hsweb.web.dao.config.ConfigMapper">
    <resultMap id="ConfigResultMap" type="Config">
        <id property="id" column="u_id" javaType="string" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" javaType="String" jdbcType="VARCHAR"/>
        <result property="content" column="content" javaType="String" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="classifiedId" column="classified_id" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <!--字段信息配置-->
    <sql id="fieldConfig">
        <bind name="$fieldsInfo"
              value="#{
                    'u_id':#{'property':'id','jdbcType':'VARCHAR','javaType':'string'}
                    ,'remark':#{'jdbcType':'VARCHAR','javaType':'string'}
                    ,'content':#{'jdbcType':'VARCHAR','javaType':'string'}
                    ,'create_date':#{'property':'createDate','jdbcType':'TIMESTAMP','javaType':'date'}
                    ,'update_date':#{'property':'updateDate','jdbcType':'TIMESTAMP','javaType':'date'}
                    ,'classified_id':#{'property':'classifiedId','jdbcType':'VARCHAR','javaType':'string'}
                    }"/>
        <bind name="$fields" value="$fieldsInfo.keySet()"/>
    </sql>
    <!--表名-->
    <sql id="tableName">
        <bind name="$tableName" value="'s_config'"/>
    </sql>

    <insert id="insert" parameterType="org.hsweb.web.bean.common.InsertParam" useGeneratedKeys="true" keyProperty="data.id" keyColumn="U_ID">
        <include refid="fieldConfig"/>
        <include refid="tableName"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="org.hsweb.web.bean.common.DeleteParam">
        delete from s_config where u_id=#{term.primaryKey}
    </delete>

    <update id="update" parameterType="org.hsweb.web.bean.common.UpdateParam">
        <include refid="fieldConfig"/>
        <include refid="tableName"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByPk" parameterType="string" resultMap="ConfigResultMap">
        select * from s_config where u_id=#{id}
    </select>

    <select id="select" parameterType="org.hsweb.web.bean.common.QueryParam" resultMap="ConfigResultMap">
        <include refid="fieldConfig"/>
        <include refid="tableName"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="org.hsweb.web.bean.common.QueryParam" resultType="int">
        <include refid="fieldConfig"/>
        <include refid="tableName"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
