<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hsweb.web.dao.form.FormMapper">
    <resultMap id="FormResultMap" type="org.hsweb.web.bean.po.form.Form">
        <id property="id" column="u_id" javaType="string" jdbcType="VARCHAR"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="html" column="html" javaType="String" jdbcType="VARCHAR"/>
        <result property="meta" column="meta" javaType="String" jdbcType="VARCHAR"/>
        <result property="config" column="config" javaType="String" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" javaType="String" jdbcType="VARCHAR"/>
        <result property="version" column="version" javaType="int" jdbcType="INTEGER"/>
        <result property="revision" column="revision" javaType="int" jdbcType="INTEGER"/>
        <result property="release" column="release" javaType="int" jdbcType="INTEGER"/>
        <result property="using" column="using" javaType="boolean" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="classifiedId" column="classified_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'FormResultMap'"/>
        <bind name="tableName" value="'s_form'"/>
    </sql>

    <insert id="insert" parameterType="org.hsweb.web.bean.common.InsertParam" >
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="delete" parameterType="org.hsweb.web.bean.common.DeleteParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="org.hsweb.web.bean.common.UpdateParam">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="selectByPk" parameterType="string" resultMap="FormResultMap">
        select * from s_form WHERE u_id=#{id}
    </select>

    <select id="selectUsing" parameterType="string" resultMap="FormResultMap">
        select * from s_form WHERE using=1 and name=#{name}
    </select>

    <select id="selectLatestList" parameterType="org.hsweb.web.bean.common.QueryParam" resultMap="FormResultMap">
        <include refid="config"/>
        <!--定义字段配置-->
        <bind name="tableName" value="'t2'"/>
        <!--定义表名-->
        select
        <!--动态生成要查询的字段-->
        <include refid="BasicMapper.buildSelectField"/>
        from (
        select s_form.name,max(s_form.version) as version from s_form s_form
        <bind name="tableName" value="'s_form'"/>
        <where>
            <!--动态查询条件-->
            <include refid="BasicMapper.buildWhere"/>
        </where>
        group by name) t1
        left join s_form t2 on t1.name=t2.name and t1.version =t2.version
        <bind name="tableName" value="'t2'"/>
        <include refid="BasicMapper.buildSortField"/>
    </select>

    <select id="countLatestList" parameterType="org.hsweb.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        select count(0) as total from (
        select s_form.name,max(s_form.version) as version from s_form s_form
        <where>
            <include refid="BasicMapper.buildWhere"/>
        </where>
        group by name) t1
        left join s_form t2 on t1.name=t2.name and t1.version =t2.version
    </select>

    <select id="select" parameterType="org.hsweb.web.bean.common.QueryParam" resultMap="FormResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="total" parameterType="org.hsweb.web.bean.common.QueryParam" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>
</mapper>
